@import url("./variable.css");

.div-header{
    background-color: #f0f3f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-span{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    color: #5c6c75;
    font-size: 14px;
    font-family: Inter, "sans-serif";
    line-height: 22px;
    font-weight: 500;
    width: var(--max-width);
}

.svg-span{
    display: flex;
    gap: 10px;
    align-items: center;
}
