@import url("./Base/base.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./variables/variabiles.css");
@import url("./Span/span.css");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
